<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <title>About</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/static/landing-page.min.css" rel="stylesheet">

  </head>
<body>
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand">About</a>
      </div>
    </nav>

<section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">

          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/about.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2><u>Fake News Detection</u></h2></br>
	    <h4>This project aims to prevent the detrimental effects and misconceptions caused by the fake news.</h4></br>
	    <h4>In this, the user has to provide the headline and the body of the article to check its authenticity.</h4></br>
	    <h4>The model successfully predicts authenticity of the news article with an accuracy of 89.3%</h4>
          </div>
        </div>

   </section>
</body>
</html>
